/* src/app/features/emprendedores/emprendedores.component.css */
/* Como estamos usando Tailwind, no necesitamos mucho CSS personalizado */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
  }
  
  /* Animaciones para el modal */
  .modal-enter-active, .modal-leave-active {
    transition: opacity 0.3s;
  }
  
  .modal-enter, .modal-leave-to {
    opacity: 0;
  }